<app-tool-bar />

<div class="flex flex-col p-4 gap-4 h-[90vh]">
  <div class="w-full flex justify-between">
    <button matButton="elevated" (click)="preMonth()">ماه قبلی</button>

    <span class="font-bold text-xl">{{ last().year }} / {{ last().month }}</span>

    <button matButton="elevated" (click)="nextMonth()">ماه بعدی</button>
  </div>

  <mat-divider />

  <div class="grid grid-cols-7 gap-4 w-full text-xs md:text-base">
    @for (w of weekDays; track $index) {
    <span class="text-center">{{ w }}</span>
    }
  </div>

  <div class="h-full relative">
    @for (m of months(); track `${m.month}${m.year}`) {
    <app-calendar-pane
      [year]="m.year"
      [month]="m.month"
      animate.leave="leaving"
      animate.enter="enter-animation"
      class="absolute top-0 left-0 w-full h-full"
    />
    }
  </div>
</div>
