.enter-animation {
  animation: slide-fade 500ms;
}
@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.leaving {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}
